.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages-container {
    flex: 1;
    overflow: hidden;
    position: relative;

    .typing-users-container {
      flex: 0 0;
      position: absolute;
      bottom: 0;
    }
  }

  .input-container {
    flex: 0 0;
  }
}
