.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages-container {
    flex: 1;
    overflow: hidden;
  }

  .typing-users-container {
    flex: 0 0;
  }

  .input-container {
    flex: 0 0;
  }
}
