{
  "extends": [
    "react",
    "prettier"
  ],

  "plugins": [
    "react",
    "prettier"
  ],

  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "jsxBracketSameLine": true}]
  }
}
